<article class="row mb-3 shadow">
    <header class="col">
      <div class="row">
          <div class="col">
            <h2> {{unSelfie.titre}} </h2>
          </div>
          <div class="col text-end">
            [..]
          </div>
      </div>
     
    </header>
    <div class="w-100"></div>
    <div class="col pb-2">
      <img class ="img-fluid" src={{unSelfie.image}}>

    </div>

    <div class="w-100"></div>
    <div class="col footer pb-2">
      <div class="d-flex">
          <div class="me-2">
            <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-heart"></i> 
            </a>                      
          </div>  

          <div class="">
            
            <i class="fa-solid fa-heart"></i> 
          </div>
      </div>
    </div>
      
  </article>
